ToDoUi/.vs
ToDoUi/.vs/ProjectEvaluation/todoui.metadata.v9.bin
ToDoUi/.vs/ProjectEvaluation/todoui.metadata.v9.bin
ToDoUi/.vs/ProjectEvaluation/todoui.projects.v9.bin
ToDoUi/.vs/ProjectEvaluation/todoui.strings.v9.bin
ToDoUi/.vs/ToDoUi/CopilotIndices/17.12.53.23981/CodeChunks.db
ToDoUi/.vs/ToDoUi/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
ToDoUi/.vs/ToDoUi/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
ToDoUi/.vs/ToDoUi/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
ToDoUi/.vs/ToDoUi/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
ToDoUi/.vs/ToDoUi/DesignTimeBuild/.dtbcache.v2
ToDoUi/.vs/ToDoUi/v17/.futdcache.v2
ToDoUi/.vs/ToDoUi/v17/.suo
ToDoUi/.vs/ToDoUi/v17/DocumentLayout.backup.json
ToDoUi/.vs/ToDoUi/v17/DocumentLayout.json
ToDoUi/ToDoUi/bin/Debug/net9.0/ToDoUi.dll
ToDoUi/ToDoUi/bin/Debug/net9.0/ToDoUi.exe
ToDoUi/ToDoUi/bin/Debug/net9.0/ToDoUi.pdb
ToDoUi/ToDoUi/obj/Debug/net9.0/apphost.exe
ToDoUi/ToDoUi/obj/Debug/net9.0/ToDoUi.AssemblyInfo.cs
ToDoUi/ToDoUi/obj/Debug/net9.0/ToDoUi.AssemblyInfoInputs.cache
ToDoUi/ToDoUi/obj/Debug/net9.0/ToDoUi.dll
ToDoUi/ToDoUi/obj/Debug/net9.0/ToDoUi.GeneratedMSBuildEditorConfig.editorconfig
ToDoUi/ToDoUi/obj/Debug/net9.0/ToDoUi.pdb
ToDoUi/ToDoUi/obj/Debug/net9.0/ref/ToDoUi.dll
ToDoUi/ToDoUi/obj/Debug/net9.0/refint/ToDoUi.dll
ToDoUi/ToDoUi/obj
ToDoUi/ToDoUi/obj/Debug/net9.0/apphost.exe
ToDoUi/ToDoUi/obj/Debug/net9.0/ToDoUi.AssemblyInfo.cs
ToDoUi/ToDoUi/obj/Debug/net9.0/ToDoUi.AssemblyInfoInputs.cache
ToDoUi/ToDoUi/obj/Debug/net9.0/ToDoUi.dll
ToDoUi/ToDoUi/obj/Debug/net9.0/ToDoUi.pdb
ToDoUi/ToDoUi/obj/Debug/net9.0/ref/ToDoUi.dll
ToDoUi/ToDoUi/obj/Debug/net9.0/refint/ToDoUi.dll
